<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span></div>
        </li>
        <li class="user-pro">
            <a href="#" class="text-center">
                <span>Center Health</span>
                <small class="text-center">diabetes statistics</small>
            </a>
        </li>
        <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="waves-effect"><i class="fa fa-home"></i> <span
                class="hide-menu">Dashboard</span></a></li>
        <li>
            <a  [routerLink]="['/tables']" [routerLinkActive]="['active']">
                <i class="fa fa-bars"></i>
                <span class="hide-menu">Tables</span>
            </a>
        </li>
    </ul>
</div>